.purple{
    color: gold;
}
.textgray{
    color: grey;
}
.textcenter{
    color: gray;
}
.instagram-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.instagram-link img {
    width: 30px;
}
.twitter-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.twitter-link img {
    width: 30px;
}
.linkedin-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.linkedin-link img {
    width: 30px;
}
.gallery-link {
    color: white;
    text-decoration: none;
}
.achievements-link {
    color: white;
    text-decoration: none;
    font-size: 20px; 
}
li img {
    width: 30px;
    height: auto; 
}

/* Gallery link */
.gallery-link:hover img {
    transform: scale(1.2); 
}

/* Achievements link */
.achievements-link:hover img {
    transform: scale(1.2); 
}

/* Twitter link */
.twitter-link:hover img {
    transform: scale(1.2); 
}

/* Instagram link */
.instagram-link:hover img {
    transform: scale(1.2); 
}

/* LinkedIn link */
.linkedin-link:hover img {
    transform: scale(1.2);
}

/* Email link */
.envelope-link:hover img {
    transform: scale(1.2);
}
.flex {
    display: flex;
}

.flex > div {
    flex: 1; 
}
.flex ul {
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
}

.flex ul li {
    margin-right: 20px; 
}

.buttons button:hover {
    background-color: gold;
    transform: scale(1.2); /* Scale up on hover by 110% */
  }
  
