body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #ffd700; /* Golden color */
  }
  form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #924545;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input[type="text"], textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  textarea {
    resize: vertical;
  }
  button {
    background-color: #ffd700; /* Golden color */
    color: #1e1e1e; /* Black color */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #c0c000; /* Darker golden color */
  }
  .message-box {
    background-color: #ffd700; /* Golden color */
    color: #1e1e1e; /* Black color */
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
  }